{% extends 'base.html.twig' %}

{% block title %}Nueva Imagen{% endblock %}

{% block body %}
    <h1>Subir nueva imagen</h1>
 <div class="caja">
    {{ include('imagen/_form.html.twig') }}

    <a class="btn" href="{{ path('app_imagen_index') }}">Volver a mi lista</a>
    </div>
{% endblock %}
